{% extends "../base.html" %}
{% load wagtailimages_tags wagtailcore_tags menu_tags wagtailtrans_tags %}

{% block content %}
<div class="lang-chooser">
        <div class="inner">
            <div class="lang-chooser-wrapper">
                    {% if page.language|stringformat:"s" ==  "English" %}
                    <a href="/nl/">NL</a>
                    <a href="/" class="active">EN</a>
                {% elif page.language|stringformat:"s" ==  "Dutch" %}
                    <a href="/nl/" class="active">NL</a>
                    <a href="/" >EN</a>
                {% endif %}
            </div>       
        </div>
    </div>
{% if page.image %}
{% image page.image fill-1920x600 as image %}
    <div class="header" style="background-image:url('{{ image.url }}')">
    {% else %}
    <div class="header">
    {% endif %}
        <div class="hero-gradient-mask"></div>
        <div class="inner">
            <div class="header-wrapper ">
                <div class="inner">
                    <div class="logo">
                    {% if page.language|stringformat:"s" ==  "English" %}
                        <h1><a href="/">CLEO</a></h1>
                    {% elif page.language|stringformat:"s" ==  "Dutch" %}
                        <h1><a href="/nl/">CLEO</a></h1>
                    {% endif %}
                      
                    </div>
                    <div class="hamburger">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                    <div class="navigation">
                        {% if page.language|stringformat:"s" ==  "English" %}
                            {% flat_menu 'top_menu_en' max_levels=1 show_menu_heading=False  use_specific=USE_SPECIFIC_TOP_LEVEL  fall_back_to_default_site_menus=True %}
                        {% elif page.language|stringformat:"s" ==  "Dutch" %}
                            {% flat_menu 'top_menu_nl' max_levels=1 show_menu_heading=False  use_specific=USE_SPECIFIC_TOP_LEVEL  fall_back_to_default_site_menus=True %}
                        {% endif %}
                    </div>
                </div>
                
            </div>
            <div class="slogan">
                <h2>{{ page.hero_text }}</h2>
                    {% if page.hero_cta_link %}
                    <a href="{% pageurl page.hero_cta_link %}" class="hero-cta-link hvr-icon-forward">
                        {{ page.hero_cta }}
                    </a>
                    {% else %} {{ page.hero_cta }} {% endif %}
                </div>
        </div>
</div>
<div class="wrapper">
        <div class="inner">
            <h1 class="page-title">
                {{page.title}}
            </h1>
            <div class="content">
                <div class="row">
                    <div class="col-12 form-page">
                        {{ page.thank_you_text|richtext }}
                    </div>
                    <div class="col-12">
                        {{ page.body }}
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    
{% endblock content %}