import os
from .core import PROJECT_DIR

BASE_DIR = os.path.dirname(os.path.dirname(__file__))
DEBUG = True
DEBUG_TOOLBAR = True
DEBUG_TEMPLATE = True
DEV = True

DATABASES = {
    'default': {
        # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        # Or path to database file if using sqlite3.
        'NAME': 'muses',
        # 'NAME': 'muses_wagtail',
        # The following settings are not used with sqlite3:
        'USER': 'postgres',
        'PASSWORD': 'test',
        # Empty for localhost through domain sockets or '127.0.0.1' for
        # localhost through TCP.
        # 'HOST': '',
        # Set to empty string for default.
        # 'PORT': '',
    }
}

# Elasticsearch configuration
ELASTICSEARCH_DSL = {
    'default': {
        'hosts': 'localhost:9200',
        'timeout': 30,
        # 'user': 'elastic',
        # 'pass': 'changeme',
    },
}

INTERNAL_IPS = ('127.0.0.1',)

MEDIA_ROOT = PROJECT_DIR(os.path.join('..', '..', '..', 'var', 'media'))
STATIC_ROOT = PROJECT_DIR(os.path.join('..', '..', '..', 'var', 'static'))
IMAGEKIT_CACHEFILE_DIR = os.path.join(
    MEDIA_ROOT,
    'collection_images_medium'
)
CITIES_DATA_DIR = os.path.join(
    MEDIA_ROOT,
    'cities/data/'
)

EMAIL_BACKEND = 'django.core.mail.backends.filebased.EmailBackend'
EMAIL_FILE_PATH = PROJECT_DIR('../../../var/tmp')

DEFAULT_FROM_EMAIL = '<no-reply@localhost>'

os.environ.setdefault(
    'APP_SOURCE_PATH',
    '/home/artur/bbrepos/muses/src'
)

CORS_ORIGIN_ALLOW_ALL = True
CORS_ORIGIN_WHITELIST = (
    'localhost:3000',
    '127.0.0.1:3000',
    '127.0.0.1:8000',
    'localhost:8000',
    'cleo.aincient.dev:8001',
)

CACHES = {
    # 'default': {
    #     'BACKEND': 'django.core.cache.backends.memcached.MemcachedCache',
    #     'LOCATION': '127.0.0.1:11211',
    #     'KEY_PREFIX': 'prd-',
    # },
    'default': {
        "BACKEND": "django_redis.cache.RedisCache",
        "LOCATION": "redis://127.0.0.1:6379/1",
        "OPTIONS": {
            "CLIENT_CLASS": "django_redis.client.DefaultClient",
        },
    },
    'throttling': {
        "BACKEND": "django_redis.cache.RedisCache",
        "LOCATION": "redis://127.0.0.1:6379/1",
        "OPTIONS": {
            "CLIENT_CLASS": "django_redis.client.DefaultClient",
        },
    }
}

FIREFOX_BIN_PATH = '/usr/lib/firefox47/firefox'

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'filters': {
        'require_debug_false': {
            '()': 'django.utils.log.RequireDebugFalse'
        }
    },
    'root': {
        'level': 'INFO',
        'handlers': ['all_log'],
    },
    'formatters': {
        'verbose': {
            'format': '\n%(levelname)s %(asctime)s [%(pathname)s:%(lineno)s] '
                      '%(message)s'
        },
        'simple': {
            'format': '\n%(levelname)s %(message)s'
        },
    },
    'handlers': {
        'mail_admins': {
            'level': 'ERROR',
            'filters': ['require_debug_false'],
            'class': 'django.utils.log.AdminEmailHandler'
        },
        'console': {
            'level': 'DEBUG',
            'class': 'logging.StreamHandler',
            'formatter': 'verbose'
        },
        'all_log': {
            'level': 'DEBUG',
            'class': 'logging.handlers.RotatingFileHandler',
            'filename': PROJECT_DIR("../../../var/logs/all.log"),
            'maxBytes': 1048576,
            'backupCount': 99,
            'formatter': 'verbose',
        },
        'django_log': {
            'level': 'DEBUG',
            'class': 'logging.handlers.RotatingFileHandler',
            'filename': PROJECT_DIR("../../../var/logs/django.log"),
            'maxBytes': 1048576,
            'backupCount': 99,
            'formatter': 'verbose',
        },
        'django_request_log': {
            'level': 'DEBUG',
            'class': 'logging.handlers.RotatingFileHandler',
            'filename': PROJECT_DIR("../../../var/logs/django_request.log"),
            'maxBytes': 1048576,
            'backupCount': 99,
            'formatter': 'verbose',
        },
        'muses_log': {
            'level': 'DEBUG',
            'class': 'logging.handlers.RotatingFileHandler',
            'filename': PROJECT_DIR("../../../var/logs/muses.log"),
            'maxBytes': 1048576,
            'backupCount': 99,
            'formatter': 'verbose',
        },
    },
    'loggers': {
        'django.request': {
            'handlers': ['django_request_log', 'console'],
            'level': 'INFO',
            'propagate': True,
        },
        'requests': {
            'handlers': ['django_request_log', 'console'],
            'level': 'DEBUG',
            'propagate': True,
        },
        'django': {
            'handlers': ['django_log', 'console'],
            'level': 'ERROR',
            'propagate': False,
        },
        'muses': {
            'handlers': ['console', 'muses_log'],
            'level': 'DEBUG',
            'propagate': True,
        },
        # 'django.db': {
        #     'handlers': ['django_log', 'console'],
        #     'level': 'DEBUG',
        #     'propagate': False,
        # },
    },
}

WEBPACK_LOADER = {
    'DEFAULT': {
            'BUNDLE_DIR_NAME': '',
            'STATS_FILE': os.path.abspath(os.path.join('..', '..', 'webpack-stats.json')),
    }
}

THROTTLE_NAME_SUPER_USER = 'super_user'
THROTTLE_NAME_UNLIMITED_ACCESS_USER = 'unlimited_access_user'
THROTTLE_NAME_SUBSCRIBED_USER = 'subscribed_user'
THROTTLE_NAME_SUBSCRIBED_GROUP_USER = 'subscribed_group_user'
THROTTLE_NAME_AUTHENTICATED_USER = 'authenticated_user'

REST_FRAMEWORK = {
    'DEFAULT_AUTHENTICATION_CLASSES': (
        'rest_framework.authentication.BasicAuthentication',
        'rest_framework.authentication.SessionAuthentication',
    ),
    'DEFAULT_PAGINATION_CLASS':
        'rest_framework.pagination.PageNumberPagination',
    'PAGE_SIZE': 100,
    'ORDERING_PARAM': 'ordering',
    'DEFAULT_THROTTLE_RATES': {
        THROTTLE_NAME_SUPER_USER: '999999999/j',
        THROTTLE_NAME_UNLIMITED_ACCESS_USER: '500000/j',
        THROTTLE_NAME_SUBSCRIBED_USER: '500000/j',
        THROTTLE_NAME_SUBSCRIBED_GROUP_USER: '500000/j',
        THROTTLE_NAME_AUTHENTICATED_USER: '1000/j',
    },
}

SESSION_COOKIE_SECURE = False
CSRF_COOKIE_SECURE = False
SECURE_SSL_REDIRECT = False
SECURE_HSTS_SECONDS = 60
SECURE_HSTS_INCLUDE_SUBDOMAINS = False
SECURE_FRAME_DENY = False
SECURE_CONTENT_TYPE_NOSNIFF = False
SECURE_BROWSER_XSS_FILTER = False
