{% load wagtailimages_tags wagtailcore_tags %}
<div id="{{self.anchor}}" class="block" style="background-color: {{self.background_color}}; color: {{self.color}}">
  <div class="inner">
    <h2 class="title">
      {{self.heading_text}}
    </h2>
    <div class="featured-children {{self.classname}}">
        <div class="row">
        {% for childpage in self.featured_section.specific.children|slice:"4" %}
        <div class="col-12 col-md-4">
            <h3 class="featured-title">
                    {{childpage.title}}
                </h3>
                <div class="image">
                    {% image childpage.image fill-300x200-c100 %}
                </div>
                <div class="descrition">
                    {{childpage.desciption|richtext}}
                </div> 
        </div>    
        
        {% endfor %}

        </div>
    </div>
  </div>
</div>