.root {
  height: calc(100vh - 60px - 60px);
  @mixin mobile {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    transform: translate(-100%, 0%);
    background: white;
    transition: 250ms all;
    z-index: 9;
    height: 100vh;
    overflow: scroll;
    &.open {
      transform: translate(0%, 0%);
    }
  }
}

.wrapper {
  padding: 20px;
}

.title {
  font-size: 20px;
  font-weight: 300;
  position: relative;
  margin-bottom: 20px;
}

.clear {
  font-size: 14px;
  position: absolute;
  right: 0;
  top: 6px;
  &:hover {
    cursor: pointer;
  }
}

.closeMobileFilters {
  display: block;
  text-align: right;
  display: none;
  @mixin mobile {
    display: block;
  }
  &:after {
    content: "\f057";
    display: inline-block;
    padding: 10px 10px 0;
    font: normal normal normal 24px/1 FontAwesome;
  }

}